@font-face {
  font-family: "SegoeMDL2";
  src: url("../font/segoe/Segoe MDL2 Assets.otf"); }
@font-face {
  font-family: "Prime";
  src: url("../font/prime/prime-regular-x.ttf"); }
@font-face {
  font-family: "PrimeLight";
  src: url("../font/prime/prime-light.ttf"); }
@font-face {
  font-family: "Awesome";
  src: url("../font/awesome/awesome.ttf"); }
@font-face {
  font-family: "Moon";
  src: url("../font/moon/moon.otf"); }
@font-face {
  font-family: "SansProLight";
  src: url("../font/sans-pro/sans-pro-light.otf"); }
@font-face {
  font-family: "SansPro";
  src: url("../font/sans-pro/sans-pro.otf"); }
@font-face {
  font-family: "SansProBold";
  src: url("../font/sans-pro/sans-pro-bold.otf"); }
body {
  background: url(../img/big.jpg);
  margin: 5% 25%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px; }

body header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  color: #333;
  background-color: #eee;
  text-align: right; }
  body header button {
    height: 30px;
    width: 40px;
    border: none;
    font: 100% SegoeMDL2;
    outline: none; }
    body header button.close {
      border-top-right-radius: 5px; }
    body header button.minimize:hover {
      background-color: #ccc; }
    body header button.minimize:active {
      background-color: #aaa; }
    body header button.maximize:hover {
      background-color: #ccc; }
    body header button.maximize:active {
      background-color: #aaa; }
    body header button.close:hover {
      background-color: #f00;
      color: white; }
    body header button.close:active {
      background-color: #c00; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes gradient-mini {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 100% 0%; }
  100% {
    background-position: 0% 0%; } }
body section {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat, white;
  animation: gradient 15s ease infinite;
  transition: background-size 0.15s linear;
  background-size: 200% 200%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  body section h1, body section h2, body section h3 {
    transition: margin 0.15s linear; }
  body section h1 {
    font: 400% Prime;
    color: white;
    text-align: center; }
  body section h2 {
    font: 200% PrimeLight;
    color: white;
    text-align: center; }
  body section h3 {
    font: 120% Awesome;
    color: white;
    text-align: center; }
    body section h3 a {
      color: white;
      text-decoration: none; }
    body section h3 a:hover {
      color: rgba(255, 255, 255, 0.75); }
    body section h3 i {
      letter-spacing: 2px;
      font: 80% Moon; }
  body section h4 {
    text-align: center;
    transition: display 0.15s linear;
    display: none;
    font: 110% SansProLight;
    font-weight: 600;
    padding: 15px 0;
    color: rgba(0, 0, 0, 0.6); }
  body section button {
    width: 400px;
    align-self: center;
    margin: 50px;
    padding: 30px;
    border: none;
    outline: none;
    border-radius: 7px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0);
    font: 200% Prime;
    color: white;
    cursor: pointer;
    transition: background 0.15s, padding 0.15s; }
  body section button:hover {
    background: white;
    color: black; }
  body section div {
    display: none; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
body section.second-page h1 {
  margin: -10px 0 0 0; }
body section.second-page h2 {
  color: black;
  font: 200% SansPro;
  margin: 100px 0 0 0; }
body section.second-page h3 {
  display: none; }
body section.second-page h4 {
  display: inline-block; }
body section.second-page button {
  background: #14a0d2;
  background-size: 400% 400%;
  color: white;
  animation: gradient 15s ease infinite;
  border-color: rgba(0, 0, 0, 0);
  padding: 10px;
  margin: 20px 0; }
body section.second-page button:hover {
  color: #14a0d2;
  background: white;
  border-color: #14a0d2;
  background-size: 120% 120%; }
body section.second-page div {
  display: inline-block;
  align-self: center; }
body section.second-page #social-combo {
  align-self: center;
  flex-direction: column;
  justify-content: center; }
  body section.second-page #social-combo button {
    display: inline-block;
    background: transparent;
    border-color: rgba(0, 0, 0, 0);
    border-width: 0 0 3px 0;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.4);
    font: 220% Awesome;
    align-self: center;
    width: 80px;
    margin: 0 20px;
    text-align: center;
    transition: border-image 1s; }
  body section.second-page #social-combo button:hover {
    border-width: 0 0 3px 0;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
    color: #14a0d2; }
  body section.second-page #social-combo button:active {
    color: #00a0aa; }

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-bottom: 15px; }

.form__field {
  font: 100% SansPro;
  width: 300px;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  text-indent: 10px; }
  .form__field::placeholder {
    color: transparent;
    font: 100% SansPro; }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    font: 100% SansPro; }

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font: 80% SansPro;
  text-indent: 10px; }

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 100;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1; }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.5rem;
    color: #11998e;
    font: 80% SansPro; }

/*# sourceMappingURL=style.css.map */
