@font-face {
  font-family: "SegoeMDL2";
  src: url("../font/segoe/Segoe MDL2 Assets.otf"); }
@font-face {
  font-family: "Prime";
  src: url("../font/prime/prime-regular-x.ttf"); }
@font-face {
  font-family: "PrimeLight";
  src: url("../font/prime/prime-light.ttf"); }
@font-face {
  font-family: "Awesome";
  src: url("../font/awesome/awesome.ttf"); }
@font-face {
  font-family: "AwesomeLight";
  src: url("../font/awesome/awesome-light.ttf"); }
@font-face {
  font-family: "AwesomeRegular";
  src: url("../font/awesome/awesome-regular.ttf"); }
@font-face {
  font-family: "AwesomeSolid";
  src: url("../font/awesome/awesome-solid.ttf"); }
@font-face {
  font-family: "Moon";
  src: url("../font/moon/moon.otf"); }
@font-face {
  font-family: "SansProLight";
  src: url("../font/sans-pro/sans-pro-light.otf"); }
@font-face {
  font-family: "SansPro";
  src: url("../font/sans-pro/sans-pro.otf"); }
@font-face {
  font-family: "SansProBold";
  src: url("../font/sans-pro/sans-pro-bold.otf"); }
body {
  background: url(../img/big.jpg);
  margin: 5% 25%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px; }

.visible {
  display: flex !important; }

body header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  color: #333;
  background-color: #eee;
  text-align: right; }
  body header button {
    height: 30px;
    width: 40px;
    border: none;
    font: 100% SegoeMDL2;
    background-color: inherit;
    outline: none; }
    body header button.close {
      border-top-right-radius: 5px; }
    body header button.minimize:hover {
      background-color: #ccc; }
    body header button.minimize:active {
      background-color: #aaa; }
    body header button.maximize:hover {
      background-color: #ccc; }
    body header button.maximize:active {
      background-color: #aaa; }
    body header button.close:hover {
      background-color: #f00;
      color: white; }
    body header button.close:active {
      background-color: #c00; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes gradient-mini {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 100% 0%; }
  100% {
    background-position: 0% 0%; } }
.main-window {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat, white;
  animation: gradient 15s ease infinite;
  transition: background-size 0.15s linear;
  background-size: 200% 200%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main-window h1, .main-window h2, .main-window h3 {
    transition: margin 0.15s linear; }
  .main-window h1 {
    font: 400% Prime;
    color: white;
    text-align: center; }
  .main-window h2 {
    font: 200% PrimeLight;
    color: white;
    text-align: center; }
  .main-window h3 {
    font: 120% Awesome;
    color: white;
    text-align: center; }
    .main-window h3 a {
      color: white;
      text-decoration: none; }
    .main-window h3 a:hover {
      color: rgba(255, 255, 255, 0.75); }
    .main-window h3 i {
      letter-spacing: 2px;
      font: 80% Moon; }
  .main-window h4 {
    text-align: center;
    transition: display 0.15s linear;
    display: none;
    font: 110% SansProLight;
    font-weight: 600;
    padding: 15px 0;
    color: rgba(0, 0, 0, 0.6); }
  .main-window button {
    width: 400px;
    align-self: center;
    margin: 50px;
    padding: 30px;
    border: none;
    outline: none;
    border-radius: 7px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0);
    font: 200% Prime;
    color: white;
    cursor: pointer;
    transition: background 0.15s, padding 0.15s; }
  .main-window button:hover {
    background: white;
    color: black; }
  .main-window div {
    display: none; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.second-page h1 {
  margin: -10px 0 0 0; }
.second-page h2 {
  color: black;
  font: 200% SansPro;
  margin: 100px 0 0 0; }
.second-page h3 {
  display: none; }
.second-page h4 {
  display: inline-block; }
.second-page button {
  background: #14a0d2;
  background-size: 400% 400%;
  color: white;
  animation: gradient 15s ease infinite;
  border-color: rgba(0, 0, 0, 0);
  padding: 10px;
  margin: 20px 0; }
.second-page button:hover {
  color: #14a0d2;
  background: white;
  border-color: #14a0d2;
  background-size: 120% 120%; }
.second-page div {
  display: inline-block;
  align-self: center; }
.second-page #social-combo {
  align-self: center;
  flex-direction: column;
  justify-content: center; }
  .second-page #social-combo button {
    display: inline-block;
    background: transparent;
    border-color: rgba(0, 0, 0, 0);
    border-width: 0 0 3px 0;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.4);
    font: 220% Awesome;
    align-self: center;
    width: 80px;
    margin: 0 20px;
    text-align: center;
    transition: border-image 1s; }
  .second-page #social-combo button:hover {
    border-width: 0 0 3px 0;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
    color: #14a0d2; }
  .second-page #social-combo button:active {
    color: #00a0aa; }

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-bottom: 15px; }

.form__field {
  font: 100% SansPro;
  width: 300px;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  text-indent: 10px; }
  .form__field::placeholder {
    color: transparent;
    font: 100% SansPro; }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    font: 100% SansPro; }

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font: 80% SansPro;
  text-indent: 10px; }

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 100;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1; }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.5rem;
    color: #11998e;
    font: 80% SansPro; }

.chat {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 700px;
  display: none;
  flex-direction: row; }

.account-list {
  background-color: white;
  width: 32%;
  align-self: stretch;
  display: flex;
  flex-direction: column; }
  .account-list .search-bar {
    display: flex;
    flex-direction: row; }
    .account-list .search-bar button {
      font: 120% AwesomeRegular;
      padding: 5px 12px 5px 12px;
      margin: 5px;
      border: none;
      border-radius: 20px;
      background: transparent;
      transition: background 0.15s;
      outline: none;
      color: rgba(0, 0, 0, 0.4); }
      .account-list .search-bar button:hover {
        cursor: pointer; }
      .account-list .search-bar button:active {
        background: rgba(0, 0, 0, 0.04); }
    .account-list .search-bar input {
      font: 80% Tahoma;
      align-self: stretch;
      flex: 1;
      margin: 10px 10px 10px 0px;
      padding: 7px;
      text-indent: 3px;
      border-radius: 5px;
      box-shadow: none;
      background: rgba(0, 0, 0, 0.04);
      border-style: solid;
      border: none; }
      .account-list .search-bar input::placeholder {
        color: rgba(0, 0, 0, 0.4); }
      .account-list .search-bar input:active, .account-list .search-bar input:focus {
        background: transparent; }

@keyframes gradient-rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.accounts {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll; }
  .accounts button {
    outline: none;
    border-style: solid;
    border: none !important;
    padding: 7px 10px;
    display: flex;
    flex-direction: row;
    background-color: transparent; }
    .accounts button .unread {
      position: relative;
      display: flex;
      width: 45px;
      height: 45px;
      justify-content: center;
      align-items: center; }
      .accounts button .unread .Avatar {
        width: 37px;
        height: 37px; }
      .accounts button .unread .count {
        position: absolute;
        background-color: white;
        border-radius: 50px;
        width: 22px;
        height: 17px;
        margin-left: 17px;
        margin-top: -17px;
        font: 80% Prime;
        font-weight: 900;
        color: black;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: white;
        z-index: 11; }
      .accounts button .unread .circle {
        width: 45px;
        height: 45px;
        position: absolute;
        background: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%) 0 0 no-repeat;
        z-index: 1;
        border-radius: 50px;
        animation: gradient-rotate 2.5s infinite; }
    .accounts button:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer; }
    .accounts button .Avatar {
      z-index: 10;
      font: 175% Tahoma;
      width: 43px;
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      border-style: solid;
      color: white;
      border-width: 2px;
      border-color: white;
      position: relative; }
    .accounts button section {
      font: 100% Tahoma;
      margin-left: 13px;
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: center;
      flex: 1;
      align-self: stretch; }
      .accounts button section .Sender, .accounts button section .Content {
        align-self: stretch;
        flex: 1;
        justify-content: start;
        align-items: center;
        display: flex; }
      .accounts button section .Sender {
        font: 95% Tahoma;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.7); }
      .accounts button section .You {
        color: #6495ED; }
      .accounts button section .Content {
        color: rgba(0, 0, 0, 0.4); }

.message-section {
  align-self: stretch; }

.time {
  font: 110% Tahoma !important;
  color: rgba(0, 0, 0, 0.4) !important; }

.status {
  font-family: AwesomeLight;
  font-size: 14px;
  padding-top: 4px;
  margin-left: auto;
  color: #5dc452;
  letter-spacing: -7px; }

.online {
  position: absolute;
  background-color: #5dc452;
  border-radius: 50px;
  width: 8px;
  height: 8px;
  margin-left: 17px;
  margin-top: 12px;
  font: 80% Prime;
  font-weight: 900;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 11; }

.info {
  font-family: AwesomeSolid;
  font-size: 13px;
  padding-bottom: 0px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 800; }

.name {
  align-self: center; }

.ready {
  color: #7FFFD4 !important; }

.color1 {
  background: linear-gradient(135deg, #7FFFD4, #5F9EA0) !important; }

.color2 {
  background: linear-gradient(135deg, #5F9EA0, #8B008B) !important; }

.color3 {
  background: linear-gradient(135deg, #8B008B, #9932CC) !important; }

.color4 {
  background: linear-gradient(135deg, #9932CC, #6495ED) !important; }

.color5 {
  background: linear-gradient(135deg, #6495ED, #5DDDB2) !important; }

.color6 {
  background: linear-gradient(135deg, #5DDDB2, #F08080) !important; }

.color7 {
  background: linear-gradient(135deg, #F08080, #7FFFD4) !important; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.message-section {
  background: white;
  display: flex;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 68%;
  height: 100%;
  z-index: 10; }

.waiting {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 75px;
  font-family: Prime;
  font-size: 24px;
  transition: 1s box-shadow; }

.waiting:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1); }

.waiting:hover:before, .waiting:hover:after {
  display: block;
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite; }

.waiting:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite; }

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0; }
  12% {
    top: -2px;
    left: 2px; }
  25% {
    top: 0;
    left: 5px; }
  37% {
    top: 2px;
    left: 2px; }
  50% {
    top: 5px;
    left: 0; }
  62% {
    top: 2px;
    left: -2px; }
  75% {
    top: 0;
    left: -5px; }
  87% {
    top: -2px;
    left: -2px; }
  100% {
    top: -5px;
    left: 0; } }
@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0; }
  12% {
    top: -2px;
    right: 2px; }
  25% {
    top: 0;
    right: 5px; }
  37% {
    top: 2px;
    right: 2px; }
  50% {
    top: 5px;
    right: 0; }
  62% {
    top: 2px;
    right: -2px; }
  75% {
    top: 0;
    right: -5px; }
  87% {
    top: -2px;
    right: -2px; }
  100% {
    top: -5px;
    right: 0; } }

/*# sourceMappingURL=style.css.map */
